[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytz = "*"
python-decouple = "*"
requests = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
python-dateutil = "*"
django-widget-tweaks = "*"

[dev-packages]

[requires]
python_version = "3.10"
