{% extends 'base.html' %}
{% block content %}
  <div class="form-container">
    <h2>Reset your password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}<br><br>
        
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}<br><br>

        <button type="submit">Reset Password</button>
    </form>
</div>

<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    button {
        background-color: #7C61B3;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #492378;
    }
</style>

{% endblock %}