<div class="modal-body">
    <div id="passionActivityFeedback" class="text-success"></div>
    <form method="POST" action="{% url 'second_brain:passion_activity_create' passion.pk %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.date.id_for_label }}">Date:</label>
            {{ form.date }}
        </div>
        <div class="form-group">
            <label for="{{ form.hour.id_for_label }}">Hour:</label>
            {{ form.hour }}
            <label for="{{ form.minute.id_for_label }}">Minute:</label>
            {{ form.minute }}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>