{% load widget_tweaks %}

<div class="modal-body passion-modal">
  <div class="passion-card">
    <h2 class="text-center mb-4">Add Passion</h2>
    <form method="POST" action="{% url 'second_brain:passion_create' %}">
      {% csrf_token %}
      <p>
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name|add_class:"small-form-input" }}
      </p>
      <p>
        <label for="color">Color</label>
        <input class="jscolor small-form-input" name="color" value='{{ form.color.value }}'>
      </p>
      <p>
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description|add_class:"small-form-input" }}
      </p>
      <p>
        <label for="{{ form.category.id_for_label }}">{{ form.category.label }}</label>
        <div>
          {{ form.category|add_class:"small-form-input" }}
        </div>
      </p>
      <p>
        <div class="flex-container" style="display: flex; align-items: center;">
            <input type="text" id="new-category-name" placeholder="New Category" class="me-2 small-form-input"/>
            <button type="button" class="btn btn-secondary me-2 btn-hover" id="add-category-button">+</button>
        </div>
      </p>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<style>

    .passion-modal {
        font-family: 'Roboto', sans-serif;
    }

    .passion-modal .modal-body {
        background-color: #f7f7f7;
        padding: 30px;
        border-radius: 12px;
    }

    .passion-modal .small-form-input {
        width: 100%;
        height: 40px;
        padding-left: 15px;
        border-radius: 5px;
        border: 2px solid var(--btn-primary-border);
        background-color: #E1E1E1;
    }

    .passion-modal input:focus {
        border: 2px solid #E1E1E1;
    }

    .passion-modal .btn-primary {
        background-color: var(--btn-primary-bg);
        border-color: var(--btn-primary-border);
        width: 100%;
        height: 40px;
    }

    .passion-modal .btn-primary:hover {
        background-color: var(--btn-primary-bg);
        filter: brightness(90%);
    }

    .passion-modal p {
        margin-bottom: 15px;
    }

    .passion-modal .btn-hover {
        background-color: var(--btn-primary-bg);
        border-color: var(--btn-primary-border);
        width: 40px;
        height: 40px;
    }

    .passion-modal .btn-hover:hover {
        background-color: var(--btn-primary-bg);
        border-color: var(--btn-primary-border);
        filter: brightness(90%);
    }

</style>