.hidden {
  display: none;
}
/* Weather/Time card css */
.card-header p {
  display: inline;
  border-right: 1px solid #ccc;
  padding-right: 10px;
  margin-right: 10px;
}

.card-header p:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

/* Weekly Calendar css */
.weekly-calendar .calendar {
  display: flex;
  flex-wrap: nowrap;
}

.weekly-calendar .row {
  margin-right: 0;
  margin-left: 0;
}

.weekly-calendar .row > .col-lg {
  padding-right: 0;
  padding-left: 0;
}

.weekly-calendar .card {
  flex: 1 1 calc(14.28% - 1rem);
  min-width: calc(14.28% - 1rem);
  max-width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.weekly-calendar .card-header {
  font-weight: bold;
}

.weekly-calendar .card-body {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 250px;
}

@media (max-width: 1199px) {
  .weekly-calendar .card {
      flex-basis: 100%;
      min-width: 100%;
  }

  .weekly-calendar .card:last-child {
      flex-grow: 1;
  }
}

/* Monthly calendar css */

/* Apply the hover effect only on individual cells*/
.day-with-events:hover {
  background-color: #4DAC77 !important;
  cursor: pointer;
}

.calendar-table {
  table-layout: fixed;
  width: 100%;
}

.calendar-table td {
  height: 100px;
  vertical-align: top;
  position: relative;
}

.calendar-table td span {
  position: absolute;
  top: 5px;
  left: 5px;
}

.calendar-table td .badge {
  position: absolute;
  bottom: 5px;
  right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 10px);
}

/* Incoming event css */

.custom-countdown {
  background-color: #007bff;
  color: #fff;
  /* Add any other desired styles */
}

/* Fade out for task completion alert */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 2s;
}

ul li {
  position: relative;
  margin-bottom: 10px;
}

.d-flex {
  position: relative;
}

.taskCompleteMessage {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  max-width: 50%;
  padding: 5px;
  margin-left: 30px;
  z-index: 1;
}

.task-title {
  text-decoration: none;
  color: #333;
  position: relative;
  z-index: 0;
}

.task-title:hover {
  color: #007BFF;
}

/* Passion card styling */
.week-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaeaea;
}

.weekday-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: 1px solid #eaeaea;
}

.weekday-box:last-child {
  border-right: none;
}

.weekday-label {
  margin-bottom: 10px;
}

/* saved quote styling */
.quote-star {
  font-size: 2em;
  color: gray;
}

.quote-star:hover {
  color: gold;
}

.quote-edit {
  color: gray;
}

.quote-edit:hover {
  color: #007bff;
}

.quote-delete {
  color: gray;
}

.quote-delete:hover {
  color: #dc3545
}

.quote-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  overflow: auto;
}

.quote-content-wrapper .quote-content {
  text-align: center;
}

/* qotd styling */
.qotd-save-icon {
  color: gray;
  cursor: pointer;
  font-size: 24px;
}

.qotd-save-icon:hover {
  color: #007bff;
}

.qotd-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  overflow: auto;
}

.qotd-content-wrapper .qotd-quote-content {
  text-align: center;
}

.qotd-quote-content, .qotd-icon-container {
  width: 100%;
}

.qotd-quote-content {
  display: flex;
  justify-content: center;
  height: 75px;
  overflow-y: auto;
}

.qotd-icon-container {
  display: flex;
  justify-content: center;
}

/* Both carousel css */
.carousel-item {
  opacity: 0;
  transition: opacity 1s ease ease-out;
  display: none;
}

.carousel-item.active {
  opacity: 1;
  transition: opacity 1s ease-out;
  display: block;
}

.action-container {
  display: flex;
  justify-content: space-around;
}

.action-container i {
  cursor: pointer;
}

.carousel-control-prev .control-background, 
.carousel-control-next .control-background {
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

.carousel-control-prev .control-background {
    left: 0;
}

.carousel-control-next .control-background {
    right: 0;
}

.carousel-control-prev:hover .control-background, 
.carousel-control-next:hover .control-background {
    background: rgba(0,0,0,0.2);
    transition: background 0.3s ease-in-out;
}



#Saved-prev .carousel-control-prev-icon,
#Saved-next .carousel-control-next-icon {
    background: rgba(255,255,255,0);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
}

#Saved-prev .carousel-control-prev-icon {
  left: 0;
}

#Saved-next .carousel-control-next-icon {
  right: 0;
}

#Saved-prev:hover .carousel-control-prev-icon,
#Saved-next:hover .carousel-control-next-icon {
    background: rgba(0,0,0,0.2);
    transition: background 0.3s ease-in-out;
}