{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

    <h1>Hello, {{ request.user.first_name }} {{ request.user.last_name }}</h1>
    <p>The current date and time is: <span id="current_time"></span></p>

{% else %}

<div class="container" style="display: grid; place-items: center; height: calc( 100vh - 75px);">
    <div style="text-align: center; margin-bottom: 150px;">
        <h1 class="MindMuse mb-4">MindMuse</h1>
        
        <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'users:signup' %}" class="btn btn-primary">Sign Up</a>
        
    </div>
</div>
{% endif %}

<script>
    update_current_time();
</script>

{% endblock content %}

