{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

      <div class="container-fluid" style="height: calc(100vh - 75px);">
        <div class="row" style="height: 100%;">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center flex-column">
                <div class="mt-3">
                    <p id="day_of_week"></p>
                    <p id="date"></p>
                    <p id="current_time"></p>
                </div>
                <div class="mt-3">
                    <a href="{% url 'second_brain:weekly_calendar' %}" class="btn btn-primary">Weekly Calendar</a>
                    <a href="{% url 'second_brain:create_event' %}" class="btn btn-primary">Add Event</a>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-start justify-content-center mt-3">
                <div class="card" style="width: 75%;">
                    <div class="card-body">
                        <h5 class="card-title"><span id="city_name"></span></h5>
                        <div id="weather-info" class="card-text d-flex flex-column justify-content-center align-items-center">
                            <div class="d-flex justify-content-between w-100" style="padding-right: 10%;">
                                <span id="temperature" class="fs-1"></span>
                                <span id="condition"></span>
                            </div>
                            <div class="d-flex justify-content-between w-100" style="padding-right: 10%;">
                                <span id="feels_like"></span>
                                <img id="weather-icon" src="" alt="Weather icon" class="weather-icon">
                            </div>
                            <div class="d-flex justify-content-between w-100">
                                <span id="wind_speed"><i class="fas fa-wind fa-lg"></i>  <span class="wind-speed-value"></span> mph</span>
                            </div>
                            <div class="d-flex justify-content-between w-100">
                                <span id="humidity"><i class="fas fa-tint fa-lg"></i>  <span class="humidity-value"></span>%</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-secondary me-2" id="useIP">
                                <i class="fas fa-map-marker-alt"></i>
                            </button>
                            <button id="refreshButton" class="btn btn-primary me-2">
                                <i class="fas fa-sync-alt"></i>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="collapse mt-3" id="searchCollapse">
                            <div class="input-group">
                                <input type="text" class="form-control" id="cityInput" placeholder="Enter city name">
                                <button class="btn btn-primary" id="submitCity">Submit City</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-end justify-content-center">
                <h1 class="mb-3">Hello, {{ request.user.first_name }} {{ request.user.last_name }}</h1>
            </div>
        </div>
    </div>

{% else %}

<div class="container" style="display: grid; place-items: center; height: calc( 100vh - 75px);">
    <div style="text-align: center; margin-bottom: 150px;">
        <h1 class="MindMuse mb-4">MindMuse</h1>
        
        <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'users:signup' %}" class="btn btn-primary">Sign Up</a>
        
    </div>
</div>
{% endif %}

<script>
    update_current_time();
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('refreshButton').addEventListener('click', getLastTrackedCity);
        document.getElementById('submitCity').addEventListener('click', fetchWeatherByCity);
        document.getElementById('useIP').addEventListener('click', fetchCityByIP);
        getLastTrackedCity();
    });
</script>

{% endblock content %}

