{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

      <div class="container-fluid" style="height: calc(100vh - 75px);">
        <div class="row" style="height: 100%;">
            <div class="col-12 col-md-6 d-flex align-items-start justify-content-center">
                <div class="mt-3">
                    <p id="day_of_week"></p>
                    <p id="date"></p>
                    <p id="current_time"></p>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-start justify-content-center">
                <div class="card mt-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Current weather in <span id="city_name"></span></h5>
                        <div id="weather-info" class="card-text">
                            <img id="weather-icon" src="" alt="Weather icon">
                            <span id="condition"></span>
                            <span id="temperature"></span>
                            <span id="feels_like"></span>                           
                        </div>
                        <button id="refreshButton" class="btn btn-primary">Refresh Weather</button>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex align-items-end justify-content-center">
                <h1 class="mb-3">Hello, {{ request.user.first_name }} {{ request.user.last_name }}</h1>
            </div>
        </div>
    </div>

{% else %}

<div class="container" style="display: grid; place-items: center; height: calc( 100vh - 75px);">
    <div style="text-align: center; margin-bottom: 150px;">
        <h1 class="MindMuse mb-4">MindMuse</h1>
        
        <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'users:signup' %}" class="btn btn-primary">Sign Up</a>
        
    </div>
</div>
{% endif %}

<script>
    update_current_time();
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('refreshButton').addEventListener('click', updateWeatherData);
        updateWeatherData();
    });
</script>

{% endblock content %}

