{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="passion-title text-center" style="color: inherit;">
                        <h4>Passion Insights</h4>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year-passions"></i>
                        <h5 class="card-title-passion text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year-passions"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="passion-tab" data-bs-toggle="tab" href="#passion-content">Passion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="category-tab" data-bs-toggle="tab" href="#category-content">Category</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="passion-content" role="tabpanel" aria-labelledby="passion-tab">
                            <!-- Information related to individual passions -->
                            <canvas id="passionChart" style="min-height: 350px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="category-content" role="tabpanel" aria-labelledby="category-tab">
                            <!-- Information related to categories -->
                            <canvas id="categoriesChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="task-title text-center" style="color: inherit;">
                        <h4>Task</h4>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year-tasks"></i>
                        <h5 class="card-title-task text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year-tasks"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="daily-task-tab" data-bs-toggle="tab" href="#daily-task-content">Daily Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="weekly-task-tab" data-bs-toggle="tab" href="#weekly-task-content">Weekly Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="monthly-task-tab" data-bs-toggle="tab" href="#monthly-task-content">Monthly Tasks</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="daily-task-content" role="tabpanel" aria-labelledby="daily-task-tab">
                            Average Daily tasks completed: <span id="daily-task-average"></span>
                            <p id="task-busiest-day"></p>
                            <canvas id="dailyTasksChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="weekly-task-content" role="tabpanel" aria-labelledby="weekly-task-tab">
                            Average Weekly tasks completed: <span id="weekly-task-average"></span>
                            <p id="task-busiest-week"></p>
                            <canvas id="weeklyTasksChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="monthly-task-content" role="tabpanel" aria-labelledby="monthly-task-tab">
                            Average Monthly tasks completed: <span id="monthly-task-average"></span>
                            <p id="task-busiest-month"></p>
                            <canvas id="monthlyTasksChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="task-title text-center" style="color: inherit;">
                        <h4>Event</h4>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year"></i>
                        <h5 class="card-title text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="daily-events-tab" data-bs-toggle="tab" href="#daily-content">Daily</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="weekly-events-tab" data-bs-toggle="tab" href="#weekly-content">Weekly</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="monthly-events-tab" data-bs-toggle="tab" href="#monthly-content">Monthly</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="daily-content" role="tabpanel" aria-labelledby="daily-tab">
                            Daily average: <span id="daily-average"></span>
                            <p id="busiest-day"></p>
                            <canvas id="dailyEventsChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="weekly-content" role="tabpanel" aria-labelledby="weekly-tab">
                            Weekly average events: <span id="weekly-average"></span>
                            <p id="busiest-week"></p>
                            <canvas id="weeklyEventsChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="monthly-content" role="tabpanel" aria-labelledby="monthly-tab">
                            Monthly average events: <span id="monthly-average"></span>
                            <p id="busiest-month"></p>
                            <canvas id="monthlyEventsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
    const checkAndInit = (canvasIds, initFuncName, logName) => {
        let allCanvasExist = true;
        const canvasesAfterInit = {};

        canvasIds.forEach(id => {
            const canvas = document.getElementById(id);
            if (!canvas) {
                allCanvasExist = false;
                console.error(`Element #${id} does not exist`);
            }

            canvasesAfterInit[id] = canvas;
        });

        if (allCanvasExist) {
            console.log(`DOM fully loaded and parsed, initializing ${logName}`);
            initFuncName({{ current_year }}, {{ account_creation_year }});

            setTimeout(() => {
                canvasIds.forEach(id => {
                    if (canvasesAfterInit[id]) {
                        console.log(`Element #${id} still exists after ${logName}`);
                    } else {
                        console.error(`Element #${id} does not exist after ${logName}`);
                    }
                });
            }, 2000);
        }
    }

    checkAndInit(
        ['dailyEventsChart', 'weeklyEventsChart', 'monthlyEventsChart'], 
        initEventInsights, 
        "event insights"
    );

    checkAndInit(
        ['dailyTasksChart', 'weeklyTasksChart', 'monthlyTasksChart'], 
        initTaskCompletionInsights, 
        "task completion insights"
    );

    checkAndInit(
        ['passionChart'], 
        initPassionInsights, 
        "passion insights"
    );
});

</script>

{% endblock content %}