{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year"></i>
                        <h5 class="card-title text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="daily-tab" data-bs-toggle="tab" href="#daily-content">Daily</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="weekly-tab" data-bs-toggle="tab" href="#weekly-content">Weekly</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="monthly-tab" data-bs-toggle="tab" href="#monthly-content">Monthly</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="daily-content" role="tabpanel" aria-labelledby="daily-tab">
                            Daily average: <span id="daily-average"></span>
                            <p id="busiest-day"></p>
                            <canvas id="dailyEventsChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="weekly-content" role="tabpanel" aria-labelledby="weekly-tab">
                            Weekly average events: <span id="weekly-average"></span>
                            <p id="busiest-week"></p>
                            <canvas id="weeklyEventsChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="monthly-content" role="tabpanel" aria-labelledby="monthly-tab">
                            Monthly average events: <span id="monthly-average"></span>
                            <p id="busiest-month"></p>
                            <canvas id="monthlyEventsChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year-tasks"></i>
                        <h5 class="card-title-task text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year-tasks"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="daily-task-tab" data-bs-toggle="tab" href="#daily-task-content">Daily Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="weekly-task-tab" data-bs-toggle="tab" href="#weekly-task-content">Weekly Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="monthly-task-tab" data-bs-toggle="tab" href="#monthly-task-content">Monthly Tasks</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="daily-task-content" role="tabpanel" aria-labelledby="daily-task-tab">
                            Daily average tasks completed: <span id="daily-task-average"></span>
                            <p id="task-busiest-day"></p>
                            <canvas id="dailyTasksChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="weekly-task-content" role="tabpanel" aria-labelledby="weekly-task-tab">
                            Weekly average tasks completed: <span id="weekly-task-average"></span>
                            <p id="task-busiest-week"></p>
                            <canvas id="weeklyTasksChart"></canvas>
                        </div>
                        <div class="tab-pane fade" id="monthly-task-content" role="tabpanel" aria-labelledby="monthly-task-tab">
                            Monthly average tasks completed: <span id="monthly-task-average"></span>
                            <p id="task-busiest-month"></p>
                            <canvas id="monthlyTasksChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const dailyCanvas = document.getElementById('dailyEventsChart');
        const weeklyCanvas = document.getElementById('weeklyEventsChart');
        const monthlyCanvas = document.getElementById('monthlyEventsChart');

        if (dailyCanvas || weeklyCanvas || monthlyCanvas) {
            console.log("DOM fully loaded and parsed, initializing event insights");
            initEventInsights({{ current_year }}, {{ account_creation_year }});

            setTimeout(() => {
                const dailyCanvasAfterInit = document.getElementById('dailyEventsChart');
                const weeklyCanvasAfterInit = document.getElementById('weeklyEventsChart');
                const monthlyCanvasAfterInit = document.getElementById('monthlyEventsChart');
                    
                if (dailyCanvasAfterInit) {
                    console.log("Element #dailyEventsChart still exists after initEventInsights");
                } else {
                    console.error('Element #dailyEventsChart does not exist after initEventInsights');
                }

                if (weeklyCanvasAfterInit) {
                    console.log("Element #weeklyEventsChart still exists after initEventInsights");
                } else {
                    console.error('Element #weeklyEventsChart does not exist after initEventInsights');
                }

                if (monthlyCanvasAfterInit) {
                    console.log("Element #monthlyEventsChart still exists after initEventInsights");
                } else {
                    console.error('Element #monthlyEventsChart does not exist after initEventInsights');
                }
            }, 2000);
        } else {
            console.error('Element #dailyEventsChart, #weeklyEventsChart or #monthlyEventsChart does not exist');
        }
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        const dailyCanvas = document.getElementById('dailyTasksChart');
        const weeklyCanvas = document.getElementById('weeklyTasksChart');
        const monthlyCanvas = document.getElementById('monthlyTasksChart');

        if (dailyCanvas || weeklyCanvas || monthlyCanvas) {
            console.log("DOM fully loaded and parsed, initializing task completion insights");
            initTaskCompletionInsights({{ current_year }}, {{ account_creation_year }});

            setTimeout(() => {
                const dailyCanvasAfterInit = document.getElementById('dailyTasksChart');
                const weeklyCanvasAfterInit = document.getElementById('weeklyTasksChart');
                const monthlyCanvasAfterInit = document.getElementById('monthlyTasksChart');
                    
                if (dailyCanvasAfterInit) {
                    console.log("Element #dailyTasksChart still exists after initTaskCompletionInsights");
                } else {
                    console.error('Element #dailyTasksChart does not exist after initTaskCompletionInsights');
                }

                if (weeklyCanvasAfterInit) {
                    console.log("Element #weeklyTasksChart still exists after initTaskCompletionInsights");
                } else {
                    console.error('Element #weeklyTasksChart does not exist after initTaskCompletionInsights');
                }

                if (monthlyCanvasAfterInit) {
                    console.log("Element #monthlyTasksChart still exists after initTaskCompletionInsights");
                } else {
                    console.error('Element #monthlyTasksChart does not exist after initTaskCompletionInsights');
                }
            }, 2000);
        } else {
            console.error('Element #dailyTasksChart, #weeklyTasksChart or #monthlyTasksChart does not exist');
        }
    });

</script>

{% endblock content %}