{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}

<div class="container">

    <div class="row pt-2">
        <div class="col-lg-6 d-flex align-items-center" >
            <div class="card w-100">
                <div id="custom-color-overview-header" class="card-header" style="color: #D3D3D3; background-color: {{ color_data|get_item:'card-header-color' }};">
                    <h4 id="custom-color-overview-header-text" class="text-center" style="color: {{ color_data|get_item:'card-header-text-color' }} !important;">Overview</h4>
                </div>
                <div id="custom-color-overview-interior" class="card-body" style="color: #D3D3D3; background-color: {{ color_data|get_item:'card-interior-color' }};">
                    <div id="textCarousel" class="carousel carousel-dark slide w-100" data-bs-ride="carousel">
                        <div class="carousel-indicators" style="">
                            <button type="button" data-bs-target="#textCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#textCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#textCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner" style="min-height: 300px;">
                            <div class="carousel-item active" id="taskOverviewSlide" style="position: relative;">
                                <div class="loader">
                                    <div class="bars"></div>
                                </div>
                                <div class="d-flex justify-content-center align-items-center content" style="height:275px;">
                                    <!-- js content -->
                                </div>
                            </div>
                            <div class="carousel-item" id="eventOverviewSlide">
                                <div class="d-flex justify-content-center align-items-center" style="height:275px;">
                                    <!-- js content -->
                                </div>
                            </div>
                            <div class="carousel-item" id="passionOverviewSlide">
                                <div class="d-flex justify-content-center align-items-center" style="height:275px;">
                                    <!-- js content -->
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#textCarousel" data-bs-slide="prev" style="left: -45px;">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5); filter: invert(1);"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#textCarousel" data-bs-slide="next" style="right: -45px;">
                            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5); filter: invert(1);"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
       </div>   

        <div class="col-lg-6">
            <div class="card">
                <div id="custom-color-passion-insight-header" class="card-header" style="background-color: {{ color_data|get_item:'card-header-color' }}; color: {{ color_data|get_item:'card-header-text-color' }} !important;">
                    <div class="passion-title text-center" style="color: inherit;">
                        <h4 id="custom-color-passion-header-text" style="color: {{ color_data|get_item:'card-header-text-color' }} !important;">Passion Insights</h4>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year-passions"></i>
                        <h5 id="custom-color-passion-header-year-text" class="card-title-passion text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year-passions"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="passion-tab" data-bs-toggle="tab" href="#passion-content">Passion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="category-tab" data-bs-toggle="tab" href="#category-content">Category</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="passion-content" role="tabpanel" aria-labelledby="passion-tab">
                            <!-- Information related to individual passions -->
                            <canvas id="passionChart" style="min-height: 275px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="category-content" role="tabpanel" aria-labelledby="category-tab">
                            <!-- Information related to categories -->
                            <canvas id="categoriesChart" style="min-height: 275px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row mt-2">
        <div class="col-lg-6">
            <div class="card">
                <div id="custom-color-task-insight-header" class="card-header" style="background-color: {{ color_data|get_item:'card-header-color' }}; color: {{ color_data|get_item:'card-header-text-color' }} !important;">
                    <div class="task-title text-center" style="color: inherit;">
                        <h4 id="custom-color-task-header-text" style="color: {{ color_data|get_item:'card-header-text-color' }} !important;">Task</h4>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year-tasks"></i>
                        <h5 id="custom-color-task-header-year-text" class="card-title-task text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year-tasks"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="daily-task-tab" data-bs-toggle="tab" href="#daily-task-content">Daily Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="weekly-task-tab" data-bs-toggle="tab" href="#weekly-task-content">Weekly Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="monthly-task-tab" data-bs-toggle="tab" href="#monthly-task-content">Monthly Tasks</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="daily-task-content" role="tabpanel" aria-labelledby="daily-task-tab">
                            Average Daily tasks completed: <span id="daily-task-average"></span>
                            <p id="task-busiest-day"></p>
                            <canvas id="dailyTasksChart" style="min-height: 275px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="weekly-task-content" role="tabpanel" aria-labelledby="weekly-task-tab">
                            Average Weekly tasks completed: <span id="weekly-task-average"></span>
                            <p id="task-busiest-week"></p>
                            <canvas id="weeklyTasksChart" style="min-height: 275px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="monthly-task-content" role="tabpanel" aria-labelledby="monthly-task-tab">
                            Average Monthly tasks completed: <span id="monthly-task-average"></span>
                            <p id="task-busiest-month"></p>
                            <canvas id="monthlyTasksChart" style="min-height: 275px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div id="custom-color-event-insight-header" class="card-header" style="background-color: {{ color_data|get_item:'card-header-color' }}; color: {{ color_data|get_item:'card-header-text-color' }} !important;">
                    <div class="task-title text-center" style="color: inherit;">
                        <h4 id="custom-color-event-header-text" style="color: {{ color_data|get_item:'card-header-text-color' }} !important;">Event</h4>
                    </div>
                    <hr>
                    <div class="d-flex align-items-center justify-content-between">
                        <i class="fas fa-chevron-left" id="prev-year"></i>
                        <h5 id="custom-color-event-header-year-text" class="card-title text-center mb-0">{{ current_year }}</h5>
                        <i class="fas fa-chevron-right" id="next-year"></i>
                    </div>
                    <ul class="nav nav-tabs card-header-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" id="daily-events-tab" data-bs-toggle="tab" href="#daily-content">Daily</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="weekly-events-tab" data-bs-toggle="tab" href="#weekly-content">Weekly</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="monthly-events-tab" data-bs-toggle="tab" href="#monthly-content">Monthly</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="daily-content" role="tabpanel" aria-labelledby="daily-tab">
                            Daily average: <span id="daily-average"></span>
                            <p id="busiest-day"></p>
                            <canvas id="dailyEventsChart" style="min-height: 275px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="weekly-content" role="tabpanel" aria-labelledby="weekly-tab">
                            Weekly average events: <span id="weekly-average"></span>
                            <p id="busiest-week"></p>
                            <canvas id="weeklyEventsChart" style="min-height: 275px;"></canvas>
                        </div>
                        <div class="tab-pane fade" id="monthly-content" role="tabpanel" aria-labelledby="monthly-tab">
                            Monthly average events: <span id="monthly-average"></span>
                            <p id="busiest-month"></p>
                            <canvas id="monthlyEventsChart" style="min-height: 275px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const checkAndInit = (canvasIds, initFuncName, logName) => {
            let allCanvasExist = true;
            const canvasesAfterInit = {};

            canvasIds.forEach(id => {
                const canvas = document.getElementById(id);
                if (!canvas) {
                    allCanvasExist = false;
                    console.error(`Element #${id} does not exist`);
                }

                canvasesAfterInit[id] = canvas;
            });

            if (allCanvasExist) {
                console.log(`DOM fully loaded and parsed, initializing ${logName}`);
                initFuncName({{ current_year }}, {{ account_creation_year }});

                setTimeout(() => {
                    canvasIds.forEach(id => {
                        if (canvasesAfterInit[id]) {
                            console.log(`Element #${id} still exists after ${logName}`);
                        } else {
                            console.error(`Element #${id} does not exist after ${logName}`);
                        }
                    });
                }, 2000);
            }
        }

        checkAndInit(
            ['dailyEventsChart', 'weeklyEventsChart', 'monthlyEventsChart'], 
            initEventInsights, 
            "event insights"
        );

        checkAndInit(
            ['dailyTasksChart', 'weeklyTasksChart', 'monthlyTasksChart'], 
            initTaskCompletionInsights, 
            "task completion insights"
        );

        checkAndInit(
            ['passionChart'], 
            initPassionInsights, 
            "passion insights"
        );
        updateInsightOverview(new Date().getFullYear());
    });

</script>

<style>

    .disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    .main-content{
        min-height: 100vh;
        height: 100%;
        background-color: #2D2350;
    }

    html {
        min-height: 100vh;
        height: 100%;
        background-color: #2D2350;
    }

    /* Passion Insights Card Styling */

    /* Card Header */

    .card-header {
    color: #FFFFFF;
    }

    /* Card Body */
    .card-body {
    color: #000000;
    background-color: #F3F3F3;
    }

    /* Navigation tabs */
    .nav-tabs .nav-link.active {
    color: #D3D3D3;
    border-color: #d3d3d3;
    }

    .nav-tabs .nav-link {
    color: #D3D3D3;
    }

    /* Buttons */
    .btn-primary {
    background-color: #673AB7;
    border-color: #673AB7;
    color: #D3D3D3;
    }

    /* loader css */
    .loader {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }


    .content {
        display: none;  /* Initially hidden */
        justify-content: center;
        align-items: center;
    }

    .bars {
        width: 50.4px;
        height: 44.8px;
        --c: linear-gradient(#7638c2 0 0);
        background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
        background-size: 10.1px 100%;
        background-repeat: no-repeat;
        animation: bars-mbi2jdmd 1s infinite linear;
    }

    @keyframes bars-mbi2jdmd {
        20% {
            background-size: 10.1px 60%, 10.1px 100%, 10.1px 100%;
        }

        40% {
            background-size: 10.1px 80%, 10.1px 60%, 10.1px 100%;
        }

        60% {
            background-size: 10.1px 100%, 10.1px 80%, 10.1px 60%;
        }

        80% {
            background-size: 10.1px 100%, 10.1px 100%, 10.1px 80%;
        }
    }

</style>

{% endblock content %}