<div class="modal-body">
  <form method="POST" action="{% url 'second_brain:create_task' %}">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.title.label_tag }} {{ form.title }}
    </div>
    <div class="mb-3">
      {{ form.description.label_tag }} {{ form.description }}
    </div>
    <div class="mb-3">
      {{ form.category.label_tag }} {{ form.category }}
    </div>
    <div class="mb-3">
      {{ form.frequency.label_tag }} {{ form.frequency }}
    </div>
    <div class="mb-3">
      {{ form.priority.label_tag }} {{ form.priority }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
