{% extends 'base.html' %}

{% block content %}
  <h1>{{ task.title }}</h1>
  <p>{{ task.description }}</p>
  <p>Priority: {{ task.get_priority_display }}</p>
  <p>Category: {{ task.get_category_display }}</p>
  <p>Frequency: {{ task.get_frequency_display }}</p>
  {% if task.completion_goal %}
  <p>Completion count: {{ task.completion_count }}</p>
  <p>Completion goal: {{ task.completion_goal }}</p>
  {% endif %}

  <p id="task-done-message" style="display:none;">Done!</p>
  
  {% for i in range %}
    <input type="checkbox"
      id="checkbox{{ forloop.counter }}"
      value="{{ forloop.counter }}"
      onclick="updateCompletionCount(this, {{ task.pk }}, {{ task.completion_goal }});"
      {% if forloop.counter <= task.completion_count %}checked{% endif %}>
{% endfor %}


  <a href="{% url 'second_brain:update_task' task.pk %}">Edit</a>
  <a href="{% url 'second_brain:delete_task' task.pk %}">Delete</a>

{% endblock %}