{% extends 'base.html' %}

{% block content %}
  
  <h1>Add/Edit Task</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.title.label_tag }} {{ form.title }}
    {{ form.description.label_tag }} {{ form.description }}
    {{ form.category.label_tag }} {{ form.category }}
    {{ form.frequency.label_tag }} {{ form.frequency }}
    {{ form.priority.label_tag }} {{ form.priority }}
    {% if not form.instance.pk %}
      <input type="hidden" name="completion_count" value="0">
    {% else %}
      {{ form.completion_count.label_tag }} {{ form.completion_count }}
    {% endif %}
    {{ form.completion_goal.label_tag }} {{ form.completion_goal }}
    <button type="submit">Save</button>
  </form>

{% endblock content %}

